*{
    margin:0;
    font-family:Montserrat;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #640D6B, #B51B75);
    padding: 20px;
}
.todo-app{
    width: 100%;
    max-width: 600px;
    margin: 100px;
    padding: 40px 30px 70px;
    background:#fff;
    border-radius: 10px;
}
